<div class="container-fluid">

<h1><span class="label label-info">Register Here</span></h1>
<%= form_with scope: :user, url: users_path, local: true do |form| %>

  <% if @user.errors.any? %>
    <div>
      <h2>
        <%= pluralize(@user.errors.count, 'error') %> prohibited you from being registered:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-bordered">
    <tr>
      <td><%= form.label :first_name, class: 'form-group'%></td>
      <td><%= form.text_field :first_name %></td>
    </tr>
    <tr>
      <td><%= form.label :last_name %></td>
      <td><%= form.text_field :last_name %></td>
    </tr>
    <tr>
      <td><%= form.label :email %></td>
      <td><%= form.text_field :email %></td>
    </tr>
    <tr>
      <td><%= form.label :password %></td>
      <td><%= form.password_field :password %></td>
    </tr>
  </table>
    <%= form.submit :Submit, class: :"btn btn-primary"%>
<% end %>
</div>
