<%= form_with scope: :transaction, url: user_transaction_path(user), local: true do |form| %>
<center>
  <%= form_with scope: :transaction, url: user_transaction_path(@user), method: :get, local: true do |form| %>
<h3>Select Filter</h3>
<table border = '1'>
  <tr>
    <td>
      <table>
      <tr>
        <td>
          <%= radio_button_tag(:filter_option, "by_date") %>
          <%= label_tag(:filter_option_by_date, "Search by date") %>
        </td>
      </tr>
      <tr>
        <td>Start date</td>
        <td><%= date_field(:transactions, :end_date) %></td>
      </tr>
      <tr>
        <td>End date</td>
        <td><%= date_field(:transactions, :end_date) %></td>
      </tr>
    </table>
    </td>
    <td>
      <table>
        <tr>
          <td>
            <%= radio_button_tag(:filter_option, "by_month") %>
            <%= label_tag(:filter_option_by_month, "Search by month") %>
          </td>
        </tr>
      <tr>
        <td>Select month</td>
        <td>
          <%= select_tag(:month_id, options_for_select(1..12)) %>
      </td>
      </tr>
    </table>
    </td>
  </tr>
</table><br><br>
<%= form.submit %>
<% end %>
