<%= form_with scope: :transaction, url: user_transactions_path, local: true do |form| %>




<table border = "2">
  <tr>
    <td>Transaction Type</td>
    <td>
      <select name = "transaction[transaction_type]">
        <option value = "credit">credit</option>
        <option value = "debit">debit</option>
      </td>
    </tr>
    <tr>
      <td>Amount</td>
      <td><%= form.text_field :amount %></td>
    </tr>
    <tr>
      <td>Category</td>
      <td>
        <select name = "transaction[category_id]">
          <% @categories.each do |category| %>
            <option value = <%= category.id %>> <%= category.name %> </option>
          <% end %>
        </select>
      </td>
  </table>
  <%= form.submit %>
<% end %>
