<div class="container-fluid">
  <h1><strong>Create Transaction</strong></h1>
  <%= form_with scope: :transaction, url: user_transactions_path, local: true do |form| %>

  <table class="table table-striped table-bordered">
    <tr>
      <td>Transaction Type</td>
      <td>
        <select name = "transaction[transaction_type]" class="form-control">
          <option value = "credit">Credit</option>
          <option value = "debit">Debit</option>
        </td>
      </tr>
      <tr>
        <td>Amount</td>
        <td><%= form.text_field :amount, class: "form-control"%></td>
      </tr>
      <tr>
        <td>Category</td>
        <td>
          <select name = "transaction[category_id]" class="form-control">
            <% @categories.each do |category| %>
              <option value = <%= category.id %>> <%= category.name %> </option>
            <% end %>
          </select>
        </td>
    </table>
    <%= link_to('Back', users_path, class: 'btn btn-primary') %>
    <%= form.submit :Submit, class: 'btn btn-primary' %>
  <% end %>
</div>
