<h1>Transcation History</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Transcation Type</th>
      <th>Amount</th>
      <th>Current Balance</th>
      <th>Time</th>
    </tr>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= @user.first_name + ' ' + @user.last_name %></td>
      <td><%= transaction.transaction_type %></td>
      <td><%= transaction.amount %></td>
      <td><%= transaction.balance %></td>
      <td><%= transaction.created_at %></td>
    </tr>
  <% end %>
</table>
<%= link_to('Back', user_path(@user)) %>
